<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <title>Sahaa</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
         href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet">
      <link rel="icon" href="assets/images/favicon.svg">
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel='stylesheet' type='text/css' media='screen' href='./assets/css/bootstrap.min.css'>
      <link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/owlcarousel/assets/owl.theme.default.min.css">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel='stylesheet' type='text/css' media='screen' href='./assets/css/style.css'>
      <link rel='stylesheet' type='text/css' media='screen' href='./assets/css/calender.css'>
      <link rel='stylesheet' type='text/css' media='screen' href='./assets/css/global.css'>
   </head>
   <body>
        <section class="meet-the-team">
         <nav class="navbar navbar-expand-lg">
            <div class="container cus-container">
               <a class="navbar-brand" href="index.html"><img src="assets/images/new/SM Light@2x.png" class="img-fluid"></a>
               <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
                  <i class="fa fa-times d-none"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="meet-the-team.html">Who&nbsp;Are&nbsp;We</a>
                     </li>
                     <li class="nav-item dropdown">
                        <a href="what-we-do.html" class="dropdown-toggle nav-link" data-toggle="dropdown">
                           What&nbsp;we&nbsp;Do <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                           <li class="dropdown-submenu">
                              <a href="social-media-marketing.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Social Media Advertising</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="facebook-advertising.html" class="dropdown-item">Facebook Advertising</a></li>
                                 <li><a href="instagram-advertising.html" class="dropdown-item">Instagram Advertising</a></li>
                                 <li><a href="twitter-advertising.html" class="dropdown-item">Twitter Advertising</a></li>
                                 <li><a href="linkdin-advertising.html" class="dropdown-item">Linkdin Advertising</a></li>
                                 <li><a href="tiktok-advertising.html" class="dropdown-item">Tiktok Advertising</a></li>
                                 <li><a href="pinterest-advertising.html" class="dropdown-item">Pinterest Advertising</a></li>
                                 
                              </ul>
                           </li>
                           <li class="dropdown-submenu">
                              <a href="pay-per-click.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Pay Per Clink Ads</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="google-advertising-agency.html" class="dropdown-item">Goole Search Ads</a></li>
                                 <li><a href="google-shopping-management.html" class="dropdown-item">Google Shopping Ads</a></li>
                                 <li><a href="youtube-advertising.html" class="dropdown-item">Youtube Ads</a></li>
                                 <li><a href="bing-ads.html" class="dropdown-item">Microsoft Bing Ads</a></li>
                              </ul>
                           </li>
                           <li class="dropdown-submenu">
                              <a href="search-engine-optimisation.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Search Engin Optimization</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="organic-seo.html" class="dropdown-item">Organic SEO</a></li>
                                 <li><a href="ecommerce-seo.html" class="dropdown-item">eCommerece SEO</a></li>
                                 <li><a href="shopify-seo-agency.html" class="dropdown-item">Shopify SEO Agency</a></li>
                                 <li><a href="wordpress-seo.html" class="dropdown-item">Wordpress SEO Agency</a></li>
                                 <li><a href="digital-pr.html" class="dropdown-item">Digital PR</a></li>
                              </ul>
                           </li>
                           <li class="dropdown-submenu">
                              <a href="web-development-agency.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Website Development</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="shopify-development-agency.html" class="dropdown-item">Shopify Development</a></li>
                                 <li><a href="wordpress-development-agency.html" class="dropdown-item">Wordpress Development</a></li>
                                 <li><a href="conversion-rate-optimisation.html" class="dropdown-item">Conversion Rate Optimization</a></li>
                              </ul>
                           </li>
                           <li class="dropdown-menuParent"><a href="social-media-management-services.html" class="dropdown-item">Social Media Management</a></li>
                           <li class="dropdown-submenu">
                              <a href="content-marketing.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Content Marketing</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="video-content-agency.html" class="dropdown-item">Video Content</a></li>
                                 <li><a href="copywriting-agency.html" class="dropdown-item">Copywriting</a></li>
                                 <li><a href="branding-agency.html" class="dropdown-item">Branding & laptop Design</a></li>
                                 <li><a href="podcast-marketing.html" class="dropdown-item">Prodcast Marketing</a></li>
                                 <li><a href="youtube-marketing.html" class="dropdown-item">Youtube Marketing</a></li>
                              </ul>
                           </li>
                           <li class="dropdown-submenu">
                              <a href="email-marketing.html" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Email Marketing</a>
                              <!-- Level 2 -->
                              <ul class="dropdown-menu">
                                 <li><a href="klaviyo-email-marketing.html" class="dropdown-item">Klaviyo Email Marketing</a></li>
                              </ul>
                           </li>
                           <li class="dropdown-menuParent"><a href="digital-strategy.html" class="dropdown-item">Digital Stragety</a></li>
                        </ul>
                     </li>
                     <li class="nav-item dropdown">
                        <a href="case-study.html" class="dropdown-toggle nav-link" data-toggle="dropdown">
                           Case&nbsp;Studies <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                           <li class="dropdown-menuParent"><a href="#" class="dropdown-item">Digital Marketing</a></li>
                           <li class="dropdown-menuParent"><a href="web-development-agency.html" class="dropdown-item">Website Design</a></li>
                        </ul>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="packages.html">Packages</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="blogs.html">Blog</a>
                     </li>
                  </ul>
                  <a class="nav-link btn nav-btn" href="date-time.html">Schedule a Call</a>
               </div>
            </div>
         </nav>
           <div class="top-header meet-team-top-header p-0">
              <div class="pages-banner-head-content date-time">
                 <div class="bg-black-overlay"></div>
                 <div class="pages-banner-text-box">
                    <div class="container">
                       <div class="col-md-12 col-lg-8">
                          <h1 class="banner-main-heading">Meet The<br> <span class="redOne-fill-color">Team.</span></h1>
                          <h3 class="banner-sub-heading">A fast-growing team of digital experts delivering effective and proactive marketing solutions.</h3>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>

        <!-- date time section start -->
        <section class="date-time-sec position-relative">
         <div class="app-container" id="timer-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
		
            <div date-picker
                datepicker-title="Select Date And Time"
                picktime="true"
                pickdate="true"
                pickpast="false"
                mondayfirst="false"
                custom-message="You have selected"
                selecteddate="ctrl.selected_date"
                updatefn="ctrl.updateDate(newdate)">
            
               <div class="datepicker"
                   ng-class="{
                     'am': timeframe == 'am',
                     'pm': timeframe == 'pm',
                     'compact': compact
                  }">
                  <div class="datepicker-header">
                     <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                     <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                  </div>
                  <div class="datepicker-calendar">
                     <div class="calendar-header">
                        <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                           <svg width="30" height="30">
                              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                           </svg>
                        </div>
                        <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                        <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                           <svg width="30" height="30">
                              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                           </svg>
                        </div>
                     </div>
                     <div class="calendar-day-header">
                        <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                     </div>
                     <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                        <div
                           ng-class="{'no-hover': !day.showday}"
                           ng-repeat="day in month"
                           class="datecontainer"
                           ng-style="{'margin-left': calcOffset(day, $index)}"
                           track by $index>
                           <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                              {{ day.daydate }}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="timepicker" ng-if="picktime == 'true'">
                     <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                        <div class="timepicker-container-outer" selectedtime="time" timetravel>
                           <div class="timepicker-container-inner">
                              <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                                 <div class="current-time">
                                    <div class="actual-time">{{ time }}</div>
                                 </div>
                                 <div class="timeline">
                                 </div>
                                 <div class="hours-container">
                                    <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                                 </div>
                              </div>
                              <div class="display-time">
                                 <div class="decrement-time" ng-click="adjustTime('decrease')">
                                    <svg width="24" height="24">
                                       <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                    </svg>
                                 </div>
                                 <div class="time" ng-class="{'time-active': edittime.active}">
                                    <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                                    <div class="formatted-time">{{ edittime.formatted }}</div>
                                 </div>
                                 <div class="increment-time" ng-click="adjustTime('increase')">
                                    <svg width="24" height="24">
                                       <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                    </svg>
                                 </div>
                              </div>
                              <div class="am-pm-container">
                                 <div class="am-pm-button" ng-click="changetime('am');">am</div>
                                 <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                  <div class="buttons-container">
                     <div class="save-button" id="timer-next-btn">Next</div>
                  </div>
                  
               </div>
            </div>
         </div>
         <div class="app-container d-none" id="timer-personal-container">
            <div class="personal-head">
               <div class="row">
                  <div class="col-md-12">
                     <span>Enter Your Personal Information</span>
                  </div>
               </div>
            </div>
            <div class="row bg-white p-3">
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>Name</label>
                     <input type="text" class="form-control">
                  </div>
               </div>
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" class="form-control">
                  </div>
               </div>
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>Your Phone Number </label>
                     <input type="text" class="form-control">
                  </div>
               </div>
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>Your Company Website </label>
                     <input type="text" class="form-control">
                  </div>
               </div>
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>What is the reason for scheduling this call?</label>
                     <input type="text" class="form-control">
                  </div>
               </div>
               <div class="col-md-6 mt-3">
                  <div class="form-group">
                     <label>Send text messages to</label>
                     <input type="text" class="form-control">
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="mt-4 float-end">
                     <div class="cancel-button" id="timer-pre-btn">Back</div>
                     <div class="save-button">SAVE</div>
                  </div>
               </div>
            </div>
         </div>
      </section>
        <!-- date time section end -->

          <!-- footer section start -->
          <section class="footer-sec">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-sm-6 col-lg-3 mt-3">
                     <div>
                        <img src="assets/images/new/SM Light@2x.png" class="img-fluid">
                        <ul class="footer-ul">
                           <li><a href="index.html">Home</a></li>
                           <li><a href="meet-the-team.html">Who We Are</a></li>
                           <li><a href="what-we-do.html">What We Do</a></li>
                           <li><a href="blogs.html">Blog</a></li>
                           <li><a href="case-study.html">Case Studies</a></li>
                           <li><a href="date-time.html">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3 mt-3">
                     <div>
                        <p class="footer-sub-heading">WHAT WE DO</p>
                        <ul class="footer-ul">
                           <li><a href="facebook-advertising.html">Facebook Advertising</a></li>
                           <li><a href="instagram-advertising.html">Instagram Advertising</a></li>
                           <li><a href="search-engine-optimisation.html">SEO</a></li>
                           <li><a href="email-marketing.html">Email Marketing</a></li>
                           <li><a href="google-advertising-agency.html">Google Advertising</a></li>
                           <li><a href="social-media-management-services.html">Social Media Management</a></li>
                           <li><a href="ecommerce-seo.html">eCommerce Agency</a></li>
                           <li><a href="digital-strategy.html">Digital Strategy</a></li>
                           <li><a href="content-marketing.html">Content Marketing</a></li>
                           <li><a href="shopify-development-agency.html">Shopify Development</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3 mt-3">
                     <div>
                        <p class="footer-sub-heading">Blogs</p>
                        <ul class="footer-ul">
                           <li><a href="./pay-per-click-blog.html">Pay Per Click</a></li>
                           <li><a href="./ecommerce-SEO-services-blog.html">Ecommerece SEO</a></li>
                           <li><a href="./social-media-marketing-blog.html">Social Media Marketing</a></li>
                           <li><a href="./Facebook-marketing-expert-blog.html">Facebook Marketing</a></li>
                           <li><a href="Digital-marketing-agencies-blog.html">Digital Marketing</a></li>
                           <li><a href="./Search-engine-optimization-blog.html">How SEO Work</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3 mt-3">
                     <div>
                        <p class="footer-sub-heading">DUBAI OFFICE</p>
                        <ul class="footer-ul">
                           <li><a href="#">Phone: +971 54 351 2089 </a></li>
                           <li><a href="#">Address: Business Center 1, M Floor, The Meydan Hotel, Nad Al Sheba, Dubai, U.A.E. Registered in Dubai.</a></li>
                           <li><a href="#">info@sahaa.me</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <hr class="mt-5 mb-3">
               <div class="row bottom-row mt-5 align-items-center">
                  <div class="col-md-8">
                     <p class="">Disclaimer: The opinions expressed within Reviews are those of the author and not the views or opinions of Sahaa Limited. Registered Office: Business Center 1, M Floor, The Meydan Hotel, Nad Al Sheba, Dubai, U.A.E. Registered in Dubai. © Sahaa Marketing LLC FZ 2022. All rights reserved. Sahaa & Sahaa Pages and other ™ are trademarks of Sahaa Marketing LLC FZ.</p>
                  </div>
                  <div class="col-md-4">
                     <div class="text-start text-md-center d-flex">
                        <a href="https://twitter.com/Sahaa_me2022" class="icon-span"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Sahaa.me.uae/?ref=pages_you_manage%5C" class="icon-span"><i class="fa fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/sahaa.me/" class="icon-span"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.pinterest.com/business/hub/" class="icon-span"><i class="fa fa-pinterest"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- footer section end -->
         <script src="assets/js/jquery.js"></script>
         <script src='assets/js/bootstrap.bundle.js'></script>
         <script src="assets/owlcarousel/owl.carousel.js"></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
         <script src="./assets/js/calender.js"></script>
         <script src="./assets/js/main.js"></script>
      </body>
   </html>
   </body>