:root {
    --main-back: #141414;
    --red-one: #D00928;
    --main-font: 'Saira', sans-serif;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light:200;
    --extrabold: 800;
    --blackbold: 900;
}

body {
    font-family: var(--main-font);
}
.redOne-fill-color{
    color: var(--red-one);
}
.section-small-h6{
    font-size: 20px;
    border-bottom: 1px solid var(--red-one);
    color: var(--red-one);
    width: fit-content;
    padding-bottom: 5px;
    margin: auto;
}
.section-h45{
    font-size: 45px;
    font-weight: var(--bold);
}

.black-fill-btn {
    background-color: var(--main-back);
    border: 1px solid var(--main-back);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.black-fill-btn:hover {
    background-color: var(--main-back);
}

.white-outline-btn {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

@media (max-width:768px) {
    .section-h45{
        font-size: 20px;
    }
}
@media (min-width:769px) AND (max-width:990px) {
    .section-h45{
        font-size: 20px;
    }
}

@media (min-width:991px) AND (max-width:1200px) {
    .section-h45{
        font-size: 20px;
    }
}
@media (min-width:1201px) AND (max-width:1400px) {
    .section-h45{
        font-size: 30px;
    }
}

@media (max-width:990px) {

    .black-fill-btn,
    .white-outline-btn {
        width: 130px;
        height: 33px;
        font-size: 12px;
    }
}

@media (min-width:1600px) {
    .cus-container {
        max-width: 1500px !important;
    }
}

/* for accordion */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.accordion-header > button:after {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.accordion-header > button.collapsed:after {
    float: right !important;
    content:"\f067";
}
.accordion-header > button:hover, 
.accordion-header > button:active, 
.accordion-header > button:focus  {
    text-decoration:none;
}
.accordion-button::after{
    background-image: none;
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
}