:root {
    --main-back: #141414;
    --red-one: #D00928;
    --main-font: 'Saira', sans-serif;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light:200;
    --extrabold: 800;
    --blackbold: 900;
}

body {
    font-family: var(--main-font);
}
.redOne-fill-color{
    color: var(--red-one);
}

.black-fill-btn {
    background-color: var(--main-back);
    border: 1px solid var(--main-back);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.black-fill-btn:hover {
    background-color: var(--main-back);
}

.white-outline-btn {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}


@media (max-width:990px) {

    .black-fill-btn,
    .white-outline-btn {
        width: 130px;
        height: 33px;
        font-size: 12px;
    }
}

@media (min-width:1600px) {
    .cus-container {
        max-width: 1500px !important;
    }
}