:root {
    --main-black: #141414;
    --sub-black:#0F0F11;
    --red-one: #D00928;
    --main-font: 'Saira', sans-serif;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light:200;
    --extrabold: 800;
    --blackbold: 900;
}

body {
    font-family: var(--main-font);
}
.redOne-fill-color{
    color: var(--red-one);
}
.section-small-h6{
    font-size: 20px;
    border-bottom: 1px solid var(--red-one);
    color: var(--red-one);
    width: fit-content;
    padding-bottom: 5px;
    margin: auto;
}
.section-h45{
    font-size: 45px;
    font-weight: var(--bold);
}

.black-fill-btn {
    background-color: var(--main-black);
    border: 1px solid var(--main-black);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.black-fill-btn:hover {
    background-color: var(--main-black);
}

.white-outline-btn {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 180px;
    height: 42px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
.global-p{
    font-size: 22px;
    color: #707070;
}
.mt-50{
    margin-top: 50px;
}
.outline-text{
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: 3px;
}
.banner-main-heading{
    font-size: 60px;
    font-weight: var(--bold);
}
.banner-sub-heading{
    font-size: 25px;
    font-weight: var(--medium);
}
.pages-banner-text-box{
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
}
.pages-banner-head-content{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0px;
    position: relative;
}
.bg-black-overlay{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width:768px) {
    .section-h45{
        font-size: 25px;
    }
    .global-p{
        font-size: 16px;
    }
    .pages-banner-text-box{
        left: 20px;
    }
    .banner-main-heading{
        font-size: 45px;
    }
    .banner-sub-heading{
        font-size: 20px;
    }
}
@media (min-width:769px) AND (max-width:990px) {
    .section-h45{
        font-size: 25px;
    }
    .pages-banner-text-box{
        left: 30px;
        padding-right: 30px;
    }
    .banner-main-heading{
        font-size: 45px;
    }
    .banner-sub-heading{
        font-size: 23px;
    }
}

@media (min-width:991px) AND (max-width:1200px) {
    .section-h45{
        font-size: 25px;
    }
    .banner-main-heading{
        font-size: 45px;
    }
    .banner-sub-heading{
        font-size: 23px;
    }
}
@media (min-width:1201px) AND (max-width:1400px) {
    .section-h45{
        font-size: 30px;
    }
    .banner-main-heading{
        font-size: 50px;
    }
    .banner-sub-heading{
        font-size: 25px;
    }
}

@media (max-width:990px) {

    .black-fill-btn,
    .white-outline-btn {
        width: 130px;
        height: 33px;
        font-size: 12px;
    }
}

@media (min-width:1600px) {
    .cus-container {
        max-width: 1500px !important;
    }
}

/* for accordion */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.accordion-header > button:after {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.accordion-header > button.collapsed:after {
    float: right !important;
    content:"\f067";
}
.accordion-header > button:hover, 
.accordion-header > button:active, 
.accordion-header > button:focus  {
    text-decoration:none;
}
.accordion-button::after{
    background-image: none;
}
.accordion-button:not(.collapsed)::after{
    background-image: none;
}