/* navbar styling start */
.main-header {
    background-color: var(--main-back);
    position: relative;
}

.navbar {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-back);
    z-index: 999;
}

.navbar .navbar-toggler {
    border-color: var(--red-one);
    color: #fff;
    box-shadow: none;
    width: 43px;
    height: 32px;
}

.navbar.colour-navbar {
    background-color: #000;
    transition-duration: 400ms;
}

.navbar .navbar-brand img {
    width: 160px;
}

.navbar .navbar-collapse {
    justify-content: space-around;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    margin-right: 50px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 400;
    color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: var(--red-one);
    transition-duration: 0.3s;
}

.navbar .nav-btn {
    background-image: linear-gradient(to right, #D00928, #670001);
    color: #fff;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 500;
    border: 0;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

/* navbar styling end */



/* top-header start */

.top-header {
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-header .main-row {
    position: relative;
}

.top-header .main-row .right-sec {
    height: fit-content;
    position: absolute;
    right: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.top-header .right-text-sec {
    background-image: linear-gradient(to right, rgb(103, 0, 1, 0.6), rgb(208, 9, 40, 0.7));
    padding: 60px;
    color: #fff;
    position: relative;
    font-family: var(--main-font);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.top-header .right-text-sec h1 {
    font-size: 55px;
    font-weight: 900;
    color: #fff;
}

.top-header .right-text-sec h3 {
    font-size: 30px;
    font-weight: 700;
}

.top-header .right-text-sec .buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-header .right-text-sec .bottom-right-text {
    position: absolute;
    right: -100px;
    bottom: 0px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #313131;
    text-stroke: 3px #313131;
    letter-spacing: 3px;
    font-size: 70px;
}

.top-header .right-text-sec .top-right-text {
    position: absolute;
    top: -70px;
    right: 0;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #313131;
    text-stroke: 3px #313131;
    letter-spacing: 3px;
    font-size: 60px;
}

.top-header-vertical-ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    transform-origin: right top 0;
    position: absolute;
    right: 60px;
    bottom: 60%;
}

.top-header .carousel-item {
    padding-top: 50px;
}

.top-header .carousel-indicators {
    left: -20%;
    bottom: 40%;
    flex-direction: column;
}

.top-header .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.top-header .carousel-indicators button.active {
    background-color: var(--red-one);
}

.top-header-vertical-ul li {
    padding: 0px 10px;
    border-right: 1px solid var(--red-one);
}

.top-header-vertical-ul li a {
    color: #fff;
    text-decoration: none;
}

/* top-header end */


/* home about us section start */


.market-about-us{
    margin-top: 50px;
}
.market-about-us .second-row{
    margin-top: 70px;
}
.market-about-us .second-row h1{
    font-size: 55px;
    font-weight: var(--bold);
}
.market-about-us .third-row{
    margin-top: 80px;
}
.market-about-us .third-row .circle-img{
    width: 40px;
    margin-top: 8px;
}
.market-about-us .third-row p{
    color: #707070;
    font-size: 18px;
}
.market-about-us .third-row .images-sec{
    margin-top: 70px;
    position: relative;
}
.market-about-us .third-row .images-sec .position-img{
    position: absolute;
    top: -70px;
    right: 10px;
}



/* home about us section end */



/* case study section start */



.market-case-study{
    margin-top: 50px;
}
.market-case-study .cards-row .case-card {
    position: relative;
    cursor: pointer;
}
.market-case-study .cards-row .case-card:hover .case-card-text{
    opacity: 1;
    transition-duration: 0.3s;
}
.market-case-study .cards-row .case-card .case-card-text{
    background-color: #0F0F11;
    color: #fff;
    padding: 25px;
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.market-case-study .cards-row .case-card .case-card-text h6{
    font-size: 15px;
    font-weight: var(--bold);
}
.market-case-study .cards-row .case-card .case-card-text h5{
    font-size: 23px;
    font-weight: var(--bold);
}
.market-case-study .cards-row .case-card .case-card-text .btn{
    border-color: var(--red-one);
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* case study section end */



/* digital marketing section start */


.market-digital-marketing{
    margin-top: 50px;
}
.market-digital-marketing .video-sec{
    position: relative;
}
.market-digital-marketing .video-sec .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.market-digital-marketing .accordion .accordion-button{
    font-size: 28px;
    font-weight: var(--bold);
}
.market-digital-marketing .accordion .accordion-button{
    background-color: transparent;
    border: 1px solid #707070;
    box-shadow: none;
    color: #000;
}
.market-digital-marketing .accordion .accordion-button:not(.collapsed){
    background-color: transparent;
    border: 1px solid var(--red-one);
    box-shadow: none;
    color: #000;
}
.market-digital-marketing .accordion .accordion-button:not(.collapsed)::after,
.market-digital-marketing .accordion .accordion-header > button.collapsed:after{
    font-size: 12px;
}
.market-digital-marketing .accordion .accordion-body p{
    font-size: 18px;
    color: #707070;
}
.market-digital-marketing .accordion  .accordion-item{
    border: none;
    margin-top: 10px;
}


/* digital marketing section end */


/* greate team section start */

.market-great-team{
    margin-top: 50px;
}
.market-great-team .cards-row .card{
    border: none;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.market-great-team .cards-row .card:hover .card-footer{
    border-bottom: 2px solid var(--red-one);
    cursor: pointer;
    transition-duration: 0.3s;
}
.market-great-team .cards-row .card-footer{
    padding: 20px 0px;
    background-color: #fff;
    border-bottom: 2px solid transparent;
}
.market-great-team .cards-row .card-footer h6{
    font-size: 22px;
    font-weight: var(--bold);
}
.market-great-team .cards-row .card-footer p{
    font-size: 16px;
    color: #17161A;
    font-weight: var(--light);
}

/* greate team section end */


/* video content section start */


.market-video-content{
    margin-top: 50px;
}
.market-video-content .owl-carousel .owl-item{
    margin-top: 40px;
    cursor: grab;
}
.market-video-content .owl-carousel .owl-item.center{
    margin-top: 0;
    cursor: pointer;
}
.market-video-content .owl-carousel .owl-item img{
    width: 80%;
    margin: auto;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    position: relative;
}
.market-video-content .owl-carousel .owl-item .carosal-img-overlay {
    background-image: linear-gradient(to right, rgb(103, 0, 1, 0.6), rgb(208, 9, 40, 0.7));
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.market-video-content .owl-carousel .owl-item.center .carosal-img-overlay{
    background-color: transparent;
    position: unset;
}
.market-video-content .owl-carousel.owl-drag .owl-item.active.center .item img{
    width: 100%;
}
.market-video-content .owl-carousel {
    position: relative;
}
.market-video-content .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    height: fit-content;
}
.market-video-content .owl-carousel .owl-nav button.owl-next,
.market-video-content .owl-carousel .owl-nav button.owl-prev,
.market-video-content .owl-carousel button.owl-dot{
    font-size: 50px;
}

/* video content section end */


/* subscribe partner section start */

.market-subscribe-partner{
    margin-top: 50px;
}
.market-subscribe-partner .subscribe-sec{
    position: relative;
}
.market-subscribe-partner .subscribe-sec .subscribe-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: fit-content;
    margin: auto;
}
.market-subscribe-partner .subscribe-sec .subscribe-text h6{
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--red-one);
}
.market-subscribe-partner .subscribe-sec .subscribe-text h1{
    color: #fff;
}
.market-subscribe-partner .subscribe-sec .subscribe-text .subscribe-input{
    padding: 1rem;
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.market-subscribe-partner .subscribe-sec .subscribe-text .connect-btn{
    background-color: var(--red-one);
    font-size: 18px;
    font-weight: var(--bold);
    color: #fff;
    position: absolute;
    right: 5px;
    top: 9px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.market-subscribe-partner .our-partner-sec .section-h45{
    color: #fff;
}
.market-subscribe-partner .our-partner-sec{
    background-color: #0F0F11;
}
.market-subscribe-partner .our-partner-sec .inner{
    padding: 60px 35px;
}
/* subscribe partner section end */




/*  best service section start */

.best-service-sec{
    padding: 100px 0px;
    background-color: #F4F4F4;
}
.best-service-sec .carousel-control-prev i,
.best-service-sec .carousel-control-next i{
    color: #000000 !important;
    font-size: 30px;
}
.best-service-sec .carosal-text{
    width: 75%;
    margin: auto;
}
.best-service-sec .carosal-text p{
    font-size: 22px;
    color: #707070;
}
.best-service-sec .carousel-indicators{
    bottom: -50px;
}
.best-service-sec .carousel-indicators [data-bs-target]{
    background-color: #000 !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*  best service section end */



/* our packages section start */

.our-packages-sec{
    margin-top: 50px;
}
.our-packages-sec .packages-table-outer{
    background-color: #17161A;
}
.our-packages-sec .packages-table-outer table{
    border: transparent !important;
}
.our-packages-sec .packages-table-outer .table .bg{
    background-color: #D00928;
    color: #fff;
    font-size: 30px;
    font-weight: var(--medium);
    border: 1px solid #17161A;
}
.our-packages-sec .packages-table-outer .empty{
    border: none;
    color: transparent;
}
.our-packages-sec .packages-table-outer .table td{
    padding: 15px;
    text-align: center;
}
.our-packages-sec .packages-table-outer .table .td-first{
    text-align: left;
}
.our-packages-sec .packages-table-outer .head-table-two td{
    font-size: 20px;
    font-weight: var(--medium);
    color: #fff;
}
.our-packages-sec .packages-table-outer tbody td{
    font-size: 20px;
    font-weight: var(--medium);
    color: #fff;
}
.our-packages-sec .packages-table-outer tbody .mark{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-packages-sec .packages-table-outer tbody .active-mark{
    background-color: #D00928;
}
.our-packages-sec .packages-table-outer tbody .inActive-mark{
    background-color: #303030;
}
.our-packages-sec .packages-table-outer .book-call-btn{
    background-color: #D00928;
    color: #fff;
    font-size: 30px;
    font-weight: var(--medium);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.our-packages-sec-mobile .card .card-header{
    background-color: #17161A;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
}
.our-packages-sec-mobile .card .card-body{
    text-align: center;
    padding: 30px 0px;
}
.our-packages-sec-mobile .card .card-body h1{
    font-size: 60px;
    font-weight: var(--bold);
}
.our-packages-sec-mobile .card .card-body h6{
    font-size: 22px;
}
.our-packages-sec-mobile .card .card-body .package-view-details-btn{
    background-color: #17161A;
    color: #fff;
    font-size: 18px;
   padding: 10px 20px;
   font-weight: var(--medium);
   margin-top: 20px;
}

/* our packages section end */




@media (max-width:768px) {

    /* top-header start */
    .top-header {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .top-header .main-row .right-sec {
        position: initial;
        margin-top: -120px;
    }

    .top-header .right-text-sec {
        padding: 20px;
    }

    .top-header .right-text-sec h1 {
        font-size: 20px;
    }

    .top-header .right-text-sec h3 {
        font-size: 16px;
    }

    .top-header .right-text-sec p {
        font-size: 12px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 10px;
    }

    .top-header .right-text-sec .bottom-right-text {
        right: 10px;
        top: 10px;
        -webkit-text-fill-color: #fff;
        font-size: 40px;
        -webkit-text-stroke-color: transparent
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 40px;
        top: -45px;
    }

    .top-header-vertical-ul {
        display: none;
    }

    .top-header .carousel-indicators {
        bottom: -10%;
        left: 0;
        flex-direction: row;
    }


    /* top-header end */


    /* about us section start */
    .market-about-us .second-row{
        margin-top: 30px;
    }
    .market-about-us .third-row{
        margin-top: 30px;
    }

    .market-about-us .second-row h1{
        font-size: 25px;
    }
    .market-about-us .third-row p{
        font-size: 14px;
    }
    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 5px;
    }
    .market-about-us .third-row .images-sec{
        margin-top: 90px;
    }
    .market-about-us .third-row .images-sec .position-img{
        width: 70%;
    }

    /* about us section end */

    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text{
        padding: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h6{
        font-size: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h5{
        font-size: 15px;
    }


    /* casse study section end */

    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button{
        font-size: 22px;
        padding: 11px 15px;
    }
    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }
    .market-digital-marketing .video-sec .btn{
        width: 100px;
        height: 100px;
        font-size: 12px;
    }

    /* digital marketing section end */


    /* video content section start */

    .market-video-content .owl-carousel .owl-item {
        margin-top: 20px;
    }

    /* video content section end */

    /* subscribe partner section start */

    .market-subscribe-partner .subscribe-sec .subscribe-text{
        width: 70%;
    }
    .market-subscribe-partner .subscribe-sec .subscribe-text .subscribe-input{
        padding: 0.375rem 0.75rem;
    }
    .market-subscribe-partner .subscribe-sec .subscribe-text .connect-btn{
        font-size: 12px;
        top: 3px;
    }
    /* subscribe partner section end */

    /*  best service section start */

    .best-service-sec .carosal-text p{
        font-size: 16px;
    }

    /*  best service section end */
}

@media (min-width: 578px) AND (max-width:768px){
    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text{
        width: 85%;
        padding: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h6{
        font-size: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h5{
        font-size: 15px;
    }


    /* casse study section end */

    
}

@media (min-width:769px) AND (max-width:990px) {

    /* top-header start */


    .top-header .right-text-sec {
        padding: 10px 20px;
    }

    .top-header .right-text-sec h1 {
        font-size: 25px;
    }

    .top-header .right-text-sec h3 {
        font-size: 18px;
    }

    .top-header .right-text-sec p {
        font-size: 13px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 10px;
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 40px;
        top: -50px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 40px;
        right: -60px;
    }

    /* top-header start */


    /* about us section start */

    .market-about-us .second-row h1{
        font-size: 30px;
    }
    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 3px;
    }
    .market-about-us .third-row .images-sec .position-img{
        width: 50%;
    }
    /* about us section end */


    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text{
        width: 90%;
        padding: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h6{
        font-size: 12px;
    }
    .market-case-study .cards-row .case-card .case-card-text h5{
        font-size: 15px;
    }


    /* casse study section end */


     /* digital marketing section start */


     .market-digital-marketing .accordion .accordion-button{
        font-size: 22px;
        padding: 11px 15px;
    }
    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */

    /* our packages section start */

    .our-packages-sec .packages-table-outer .table .bg,
    .our-packages-sec .packages-table-outer .book-call-btn{
        font-size: 22px;
    }
    .our-packages-sec .packages-table-outer tbody td,
    .our-packages-sec .packages-table-outer .head-table-two td{
        font-size: 18px;
    }

    /* our packages section end */
    
}

@media (min-width:991px) AND (max-width:1200px) {
    /* navbar start */

    .navbar .navbar-collapse .navbar-nav .nav-item {
        margin-right: 10px;
    }

    /* navbar end */

    /* top-header start */

    .top-header .right-text-sec {
        padding: 25px;
    }

    .top-header .right-text-sec h1 {
        font-size: 30px;
    }

    .top-header .right-text-sec h3 {
        font-size: 25px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 25px;
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 50px;
        top: -60px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 50px;
        right: -70px;
    }

    /* top-header end */

    /* about us section start */

    .market-about-us .second-row h1{
        font-size: 30px;
    }
    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 3px;
    }

    /* about us section end */


    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text h5{
        font-size: 16px;
    }
    .market-case-study .cards-row .case-card .case-card-text h6{
        font-size: 13px;
    }

    /* case study section end */

     /* digital marketing section start */


     .market-digital-marketing .accordion .accordion-button{
        font-size: 22px;
        padding: 11px 15px;
    }
    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */


    /* greate team section start */


    .market-great-team .cards-row .card-footer h6{
        font-size: 18px;
    }
    .market-great-team .cards-row .card-footer p{
        font-size: 15px;
    }


    /* greate team section end */
}

@media (min-width:1201px) AND (max-width:1400px) {
    /* top-header start */

    .top-header .right-text-sec {
        padding: 35px;
    }

    .top-header .right-text-sec h1 {
        font-size: 45px;
    }

    .top-header .right-text-sec .top-right-text {
        top: -75px;
        font-size: 55px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 55px;
        right: -85px;
    }

    /* top-header end */


    /* about us section start */

    .market-about-us .second-row h1{
        font-size: 45px;
    }
    .market-about-us .third-row .circle-img {
        width: 35px;
    }

    /* about us section end */


    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button{
        font-size: 24px;
        padding: 10px 15px;
    }
    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */
}