/* navbar styling start */
.main-header {
    background-color: var(--main-black);
    position: relative;
}

.navbar {
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-black);
    z-index: 999;
}

.navbar .navbar-toggler {
    border-color: var(--red-one);
    color: #fff;
    box-shadow: none;
    width: 43px;
    height: 32px;
}

.navbar.colour-navbar {
    background-color: #000;
    transition-duration: 400ms;
}

.navbar .navbar-brand img {
    width: 160px;
}

.navbar .navbar-collapse {
    justify-content: space-around;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    margin-right: 50px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 400;
    color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: var(--red-one);
    transition-duration: 0.3s;
}

.nav-btn {
    background-image: linear-gradient(to right, #D00928, #670001);
    color: #fff;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 500;
    border: 0;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}
.navbar .dropdown-submenu {
    position: relative;
    padding: 8px;
}
.dropdown-menuParent,
.dropdown-menu li{
    padding: 8px;
}

.navbar .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.navbar .dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.navbar .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.navbar .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.navbar .dropdown-item:hover{
    color: var(--red-one);
    cursor: pointer;
    background: transparent;
}
/* navbar styling end */



/* top-header start */

.top-header {
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-header .main-row {
    position: relative;
}

.top-header .main-row .right-sec {
    height: fit-content;
    position: absolute;
    right: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.top-header .right-text-sec {
    background-image: linear-gradient(to right, rgb(103, 0, 1, 0.6), rgb(208, 9, 40, 0.7));
    padding: 60px;
    color: #fff;
    position: relative;
    font-family: var(--main-font);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.top-header .right-text-sec h1 {
    font-size: 55px;
    font-weight: 900;
    color: #fff;
}

.top-header .right-text-sec h3 {
    font-size: 30px;
    font-weight: 700;
}

.top-header .right-text-sec .buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-header .right-text-sec .bottom-right-text {
    position: absolute;
    right: -100px;
    bottom: 0px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #313131;
    text-stroke: 3px #313131;
    letter-spacing: 3px;
    font-size: 70px;
}

.top-header .right-text-sec .top-right-text {
    position: absolute;
    top: -70px;
    right: 0;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #313131;
    text-stroke: 3px #313131;
    letter-spacing: 3px;
    font-size: 60px;
}

.top-header-vertical-ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -webkit-transform-origin: right top 0;
    transform-origin: right top 0;
    position: absolute;
    right: 60px;
    bottom: 60%;
}

.top-header .carousel-item {
    padding-top: 50px;
}

.top-header .carousel-indicators {
    left: -20%;
    bottom: 40%;
    flex-direction: column;
}

.top-header .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.top-header .carousel-indicators button.active {
    background-color: var(--red-one);
}

.top-header-vertical-ul li {
    padding: 0px 10px;
    border-right: 1px solid var(--red-one);
}

.top-header-vertical-ul li a {
    color: #fff;
    text-decoration: none;
}

/* top-header end */


/* home about us section start */


.market-about-us {
    margin-top: 50px;
}

.market-about-us .second-row {
    margin-top: 70px;
}

.market-about-us .second-row h1 {
    font-size: 55px;
    font-weight: var(--bold);
}

.market-about-us .third-row {
    margin-top: 80px;
}

.market-about-us .third-row .circle-img {
    width: 40px;
    margin-top: 8px;
}

.market-about-us .third-row p {
    color: #707070;
    font-size: 18px;
}

.market-about-us .third-row .images-sec {
    margin-top: 70px;
    position: relative;
}

.market-about-us .third-row .images-sec .position-img {
    position: absolute;
    top: -70px;
    right: 10px;
}



/* home about us section end */



/* case study section start */



.market-case-study {
    margin-top: 50px;
}

.market-case-study .cards-row .case-card {
    position: relative;
    cursor: pointer;
}

.market-case-study .cards-row .case-card:hover .case-card-text {
    opacity: 1;
    transition-duration: 0.3s;
}

.market-case-study .cards-row .case-card .case-card-text {
    background-color: var(--sub-black);
    color: #fff;
    padding: 25px;
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.market-case-study .cards-row .case-card .case-card-text h6 {
    font-size: 15px;
    font-weight: var(--bold);
}

.market-case-study .cards-row .case-card .case-card-text h5 {
    font-size: 23px;
    font-weight: var(--bold);
}

.market-case-study .cards-row .case-card .case-card-text .btn {
    border-color: var(--red-one);
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* case study section end */



/* digital marketing section start */


.market-digital-marketing {
    margin-top: 50px;
}

.market-digital-marketing .video-sec {
    position: relative;
}

.market-digital-marketing .video-sec .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.market-digital-marketing .accordion .accordion-button {
    font-size: 28px;
    font-weight: var(--bold);
}

.market-digital-marketing .accordion .accordion-button {
    background-color: transparent;
    border: 1px solid #707070;
    box-shadow: none;
    color: #000;
}

.market-digital-marketing .accordion .accordion-button:not(.collapsed) {
    background-color: transparent;
    border: 1px solid var(--red-one);
    box-shadow: none;
    color: #000;
}

.market-digital-marketing .accordion .accordion-button:not(.collapsed)::after,
.market-digital-marketing .accordion .accordion-header>button.collapsed:after {
    font-size: 12px;
}

.market-digital-marketing .accordion .accordion-body p {
    font-size: 18px;
    color: #707070;
}

.market-digital-marketing .accordion .accordion-item {
    border: none;
    margin-top: 10px;
}


/* digital marketing section end */


/* greate team section start */

.market-great-team {
    margin-top: 50px;
}

.market-great-team .cards-row .card {
    border: none;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.market-great-team .cards-row .card:hover .card-footer {
    border-bottom: 2px solid var(--red-one);
    cursor: pointer;
    transition-duration: 0.3s;
}

.market-great-team .cards-row .card-footer {
    padding: 20px 0px;
    background-color: #fff;
    border-bottom: 2px solid transparent;
}

.market-great-team .cards-row .card-footer h6 {
    font-size: 22px;
    font-weight: var(--bold);
}

.market-great-team .cards-row .card-footer p {
    font-size: 16px;
    color: #17161A;
    font-weight: var(--light);
}

/* greate team section end */


/* video content section start */


.market-video-content {
    margin-top: 50px;
}

.market-video-content .owl-carousel .owl-item {
    margin-top: 40px;
    cursor: grab;
}

.market-video-content .owl-carousel .owl-item.center {
    margin-top: 0;
    cursor: pointer;
}

.market-video-content .owl-carousel .owl-item img {
    width: 80%;
    margin: auto;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    position: relative;
}

.market-video-content .owl-carousel .owl-item .carosal-img-overlay {
    background-image: linear-gradient(to right, rgb(103, 0, 1, 0.6), rgb(208, 9, 40, 0.7));
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.market-video-content .owl-carousel .owl-item.center .carosal-img-overlay {
    background-color: transparent;
    position: unset;
}

.market-video-content .owl-carousel.owl-drag .owl-item.active.center .item img {
    width: 100%;
}

.market-video-content .owl-carousel {
    position: relative;
}

.market-video-content .owl-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    height: fit-content;
}

.market-video-content .owl-carousel .owl-nav button.owl-next,
.market-video-content .owl-carousel .owl-nav button.owl-prev,
.market-video-content .owl-carousel button.owl-dot {
    font-size: 50px;
}

/* video content section end */


/* subscribe partner section start */

.market-subscribe-partner {
    margin-top: 50px;
}

.market-subscribe-partner .subscribe-sec {
    position: relative;
}

.market-subscribe-partner .subscribe-sec .subscribe-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: fit-content;
    margin: auto;
}

.market-subscribe-partner .subscribe-sec .subscribe-text h6 {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--red-one);
}

.market-subscribe-partner .subscribe-sec .subscribe-text h1 {
    color: #fff;
}

.market-subscribe-partner .subscribe-sec .subscribe-text .subscribe-input {
    padding: 1rem;
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.market-subscribe-partner .subscribe-sec .subscribe-text .connect-btn {
    background-color: var(--red-one);
    font-size: 18px;
    font-weight: var(--bold);
    color: #fff;
    position: absolute;
    right: 5px;
    top: 9px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.market-subscribe-partner .our-partner-sec .section-h45 {
    color: #fff;
}

.market-subscribe-partner .our-partner-sec {
    background-color: var(--sub-black);
}

.market-subscribe-partner .our-partner-sec .inner {
    padding: 60px 35px;
}

/* subscribe partner section end */




/*  best service section start */

.best-service-sec {
    padding: 100px 0px;
    background-color: #F4F4F4;
}

.best-service-sec .carousel-control-prev i,
.best-service-sec .carousel-control-next i {
    color: #000000 !important;
    font-size: 30px;
}

.best-service-sec .carosal-text {
    width: 75%;
    margin: auto;
}

.best-service-sec .carosal-text p {
    font-size: 22px;
    color: #707070;
    min-height: 300px;
}

.best-service-sec .carousel-indicators {
    bottom: -50px;
}

.best-service-sec .carousel-indicators [data-bs-target] {
    background-color: #000 !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*  best service section end */



/* our packages section start */

.our-packages-sec {
    margin-top: 50px;
}

.our-packages-sec .packages-table-outer {
    background-color: #17161A;
}

.our-packages-sec .packages-table-outer table {
    border: transparent !important;
}

.our-packages-sec .packages-table-outer .table .bg {
    background-color: #D00928;
    color: #fff;
    font-size: 30px;
    font-weight: var(--medium);
    border: 1px solid #17161A;
}

.our-packages-sec .packages-table-outer .empty {
    border: none;
    color: transparent;
}

.our-packages-sec .packages-table-outer .table td {
    padding: 15px;
    text-align: center;
}

.our-packages-sec .packages-table-outer .table .td-first {
    text-align: left;
}

.our-packages-sec .packages-table-outer .head-table-two td {
    font-size: 20px;
    font-weight: var(--medium);
    color: #fff;
}

.our-packages-sec .packages-table-outer tbody td {
    font-size: 20px;
    font-weight: var(--medium);
    color: #fff;
}

.our-packages-sec .packages-table-outer tbody .mark {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-packages-sec .packages-table-outer tbody .active-mark {
    background-color: #D00928;
}

.our-packages-sec .packages-table-outer tbody .inActive-mark {
    background-color: #303030;
}

.our-packages-sec .packages-table-outer .book-call-btn {
    background-color: #D00928;
    color: #fff;
    font-size: 30px;
    font-weight: var(--medium);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.our-packages-sec-mobile .card .card-header {
    background-color: #17161A;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
}

.our-packages-sec-mobile .card .card-body {
    text-align: center;
    padding: 30px 0px;
}

.our-packages-sec-mobile .card .card-body h1 {
    font-size: 60px;
    font-weight: var(--bold);
}

.our-packages-sec-mobile .card .card-body h6 {
    font-size: 22px;
}

.our-packages-sec-mobile .card .card-body .package-view-details-btn {
    background-color: #17161A;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: var(--medium);
    margin-top: 20px;
}

/* our packages section end */


/* top marketing section start */
.top-marketing-sec {
    padding: 100px 0px;
    /* background-color: #F4F4F4; */
    background-image: url("../images/Group\ 863.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-marketing-sec .section-h45 {
    color: #fff;
}

.top-marketing-sec .bottom-heading {
    font-size: 20px;
    font-weight: var(--medium);
    color: #fff;
}

.top-marketing-sec .bottom-heading.color {
    color: var(--red-one);
}

.top-marketing-sec .carousel-control-prev i,
.top-marketing-sec .carousel-control-next i {
    color: #fff !important;
    font-size: 30px;
}

.top-marketing-sec .carosal-text {
    width: 75%;
    margin: auto;
}

.top-marketing-sec .carosal-text p {
    font-size: 22px;
    color: #fff;
}




/* top marketing section end */



/* latest news section start */

.latest-news-sec{
    margin-top: 50px;
}
.latest-news-sec .news-card{
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
}
.latest-news-sec .news-card .card-body{
    padding: 30px;
}
.latest-news-sec .news-card .card-body h3{
    font-size: 24px;
    font-weight: var(--medium);
    margin-top: 15px;
}
.latest-news-sec .news-card .card-body p{
    font-size: 18px;
}
.latest-news-sec .btn-view-bolgs{
    background-image: linear-gradient(to right, #D00928, #670001);
    color: #fff;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 500;
    border: 0;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

/* latest news section end */


/* Digital marketing agency section start */

.digital-agency-sec{
    margin-top: 50px;
    padding: 50px 0px;
    background-image: url("../images/Group\ 863.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.digital-agency-sec .section-h45{
    border-bottom: 1px solid var(--red-one);
    padding-bottom: 10px;
    width: fit-content;
    margin: auto;
    color: #fff;
}
.digital-agency-sec .text-row {
    margin-top: 35px;
    color: #fff;
}
.digital-agency-sec .text-row p{
    color: #fff;
}


/* Digital marketing agency section end */


/* call our team secction start */

.left-section-bg{
    background-image: url("../images/team-call.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    position: relative;
}
.team-call-sec .heading-row{
    margin: 50px 0px;
}
.team-call-sec .full-row .text-box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.team-call-sec .full-row .text-box .section-h45{
    color: #fff;
}
.team-call-sec .full-row .text-box h6{
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--red-one);
}
.team-call-sec .full-row .right-form-sec{
    background-color: var(--sub-black);
}
.team-call-sec .full-row .right-form-sec .inner{
    padding: 60px 35px;
}
.team-call-sec .full-row .right-form-sec .section-h45{
    color: #fff;
}
.team-call-sec .full-row .right-form-sec .inner .contact-us-form{
    margin-top: 40px;
}
.team-call-sec .full-row .right-form-sec .inner .contact-us-form .form-control{
    margin-top: 40px;
    padding: 1.2rem 1.6rem;
    background-color: transparent;
    border-color: #707070;
    box-shadow: none;
    outline: none;
    color: #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.team-call-sec .full-row .right-form-sec .inner .contact-us-form .submit-btn{
    background-color: var(--red-one);
    color: #fff;
    font-size: 20px;
    font-weight: var(--bold);
    margin-top: 60px;
}
/* call our team secction end */


/* faq section start */

.faq-sec{
    margin-top: 50px;
}
.faq-sec .accordion .accordion-button:not(.collapsed){
    background-color: transparent;
    border: 1px solid var(--red-one);
    box-shadow: none;
    color: #000;
}
.faq-sec .accordion .accordion-button{
    font-size: 24px;
    font-weight: var(--medium);
    border: 1px solid #707070;
}
.faq-sec .global-p{
    color: #000000 !important;
}
.faq-sec .accordion-item{
    border: none;
    margin-top: 10px;
}
/* faq section end */



/* footer section start */

.footer-sec{
    margin-top: 50px;
    background-color: var(--main-black);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer-sec .footer-sub-heading{
    font-size: 22px;
    color: var(--red-one);
}
.footer-sec .footer-ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 35px;
}
.footer-sec .footer-ul li{
    padding: 3px 0px;
}
.footer-sec .footer-ul li a{
    font-size: 18px;
    font-weight: var(--light);
    color: #fff;
    text-decoration: none;
}
.footer-sec .bottom-row p{
    font-size: 18px;
    font-weight: var(--light);
}
.footer-sec .bottom-row .icon-span{
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--red-one);
    color: var(--red-one);
    margin: 0px 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* footer section end */




/* meet our team page start here */
.meet-the-team .meet-team-top-header .pages-banner-head-content{
    background-image: url("../images/The-Good-Marketer-18-scaled.jpg");
}
.meet-the-team .counting-row .counting-card{
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    padding: 20px 10px;
    height: 225px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.meet-the-team .counting-row .counting-card h1{
    font-size: 75px;
    font-weight: var(--bold);
}



/* extended team section start */

.meet-the-team .extended-team-sec{
    padding: 100px 0px;
    background-image: url(../images/Group\ 863.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.meet-the-team .extended-team-sec .global-p,
.meet-the-team .extended-team-sec .section-h45{
    color: #fff;
}



/* extended team section end */



/* meet our team page start end */


/* packages-page start */


.packages-page .packages-page-head  .pages-banner-head-content{
    background-image: url("../images/The-Good-Marketer-18-scaled.jpg");
}



/* packages-page end */



/* blogs-page start */

.blogs-page .blog-top-header .pages-banner-head-content{
    background-image: url("../images/blogs.jpg");
}
/* blogs cards start */

.blogs-page  .blog-card{
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
}
.blogs-page  .blog-card-body{
    padding: 30px;
    height: 340px;
}
.blogs-page  .blog-card:hover{
    box-shadow: 0 3px 26px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition-duration: 0.3s;
}
.blogs-page  .blog-card-body h3{
    font-size: 24px;
    font-weight: var(--medium);
    margin-top: 15px;
}
.blogs-page  .blog-card-body .global-p{
    font-size: 18px;
}
.blogs-page  .blog-card-body a{
    font-size: 14px;
    font-weight: var(--bold);
    text-decoration: none;
    margin-top: 10px;
    color: #000;
}
.blogs-page  .blog-card-footer{
    padding: 6px 30px;
    border-top: 0.5px solid #ebe7e7;
}
.blogs-page  .blog-card-footer p{
    font-size: 15px;
    color: #707070;
}


/* blogs cards end */


/* blogs-page end */



/* case study page start */

.case-study .pages-banner-head-content{
    background-image: url("../images/blogs.jpg");
}


/* case stydy page end */


/* what we do page start */


.what-we-do .pages-banner-head-content{
    background-image: url("../images/FacebookAds_Mixed.png");
    padding: 350px 0px;
}
.what-we-do .book-a-call-btn{
    background-image: linear-gradient(to right, #D00928, #670001);
    color: #fff;
    border: none;
    padding: 10px 30px;
}
.what-we-do .services-card{
    position: relative;
}
.what-we-do .service-card-overlay{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.what-we-do .service-card-overlay h3{
    font-size: 28px;
    font-weight: var(--bold);
}
.what-we-do .service-card-overlay .global-p{
    color: #fff;
    font-size: 18px;
}
.what-we-do .service-card-overlay .overlay-text{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    width: 90%;
}
.btn-learn-outline{
    color: var(--red-one);
    border-color: var(--red-one);
}
.service-card-overlay-b{
    position: absolute !important;
    top: 0;
    left: 0;
    display: none;
}
.main-service-card:hover .service-card-overlay-b{
    display: block;
    cursor: pointer;
    transition-delay: 0.3s;
    transition-delay: inherit;
}


/* what we do page end */


/* social media pages start */

.social-media-market .pages-banner-head-content{
    background-image: url("../images/Mixed.jpg");
    padding: 350px 0px;
}
.social-media-market .social-links-row{
    background-color: var(--main-black);
    padding: 15px 0px;
}
.social-media-market .social-links-row .social-link{
    color: #fff;
    font-weight: var(--medium);
    text-decoration: none;
}
.social-media-market .social-media-case,
.social-media-market .social-video-sec,
.social-media-market .why-work-with-us{
    background-color: #F4F4F4;
    padding: 100px 0px;
}
.social-media-market .flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }

  .social-media-market .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .social-media-market .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .social-media-market  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .social-media-market .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  .social-media-market .flip-card-back.main-black,
  .social-media-market .flip-card-front.main-black{
    background-color: var(--main-black);
  }
  .social-media-market .flip-card-back.main-redOne,
  .social-media-market .flip-card-front.main-redOne{
    background-color: var(--red-one);
  }

  .social-media-market .flip-card-back a{
    color: #fff;
    text-decoration: none;
  }
  .social-media-market .front-text-box h3{
    font-weight: var(--bold);
    color: #fff;
  }
  .social-media-market h3{
    font-weight: var(--bold);
  }

  .delivery-results-tabs .tabs-row .nav-link.active{
    font-weight: var(--bold);
    color: var(--red-one);
  }
  .delivery-results-tabs .tabs-row .nav-link{
    font-weight: bold;
    color: #000;
  }
  .delivery-results-tabs .tabs-row .tab-content .global-p{
    font-size: 17px;
  }
  .delivery-results-tabs .tabs-row .tab-content .tab-pane{
    border: 1px solid gainsboro;
    border-top: none;
    padding: 20px 30px;
  }
  .why-work-with-us .work-cards-row .work-card-header{
    padding: 30px 0px;
  }
  .why-work-with-us .work-cards-row .work-card-header i{
    font-size: 100px;
    color: var(--red-one);
  }



/* social media pages end */




@media (max-width:550px){


    /* meet our team page start */

    /* meet the team section start */


    .meet-the-team .team-page-head .section-h45{
        font-size: 15px;
    }

    .meet-the-team .team-page-head .global-p{
        font-size: 12px;
    }


    .meet-the-team .counting-row .counting-card {
        height: 180px;
    }
    .meet-the-team .counting-row .counting-card h1{
        font-size: 60px;
    }
    .meet-the-team .counting-row .counting-card .global-p{
        font-size: 14px;
    }

    /* meet the team section end */

    /* meet our team page end */


    /* our packages page  start*/

    .packages-page-head.top-header .right-text-sec p{
        display: none;
    }

    /* our packages page end */
}


@media (max-width:768px) {

    /* top-header start */
    .top-header {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .top-header .main-row .right-sec {
        position: initial;
        margin-top: -120px;
    }

    .top-header .right-text-sec {
        padding: 20px;
    }

    .top-header .right-text-sec h1 {
        font-size: 20px;
    }

    .top-header .right-text-sec h3 {
        font-size: 16px;
    }

    .top-header .right-text-sec p {
        font-size: 12px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 10px;
    }

    .top-header .right-text-sec .bottom-right-text {
        right: 10px;
        top: 10px;
        -webkit-text-fill-color: #fff;
        font-size: 40px;
        -webkit-text-stroke-color: transparent
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 40px;
        top: -45px;
    }

    .top-header-vertical-ul {
        display: none;
    }

    .top-header .carousel-indicators {
        bottom: -10%;
        left: 0;
        flex-direction: row;
    }


    /* top-header end */


    /* about us section start */
    .market-about-us .second-row {
        margin-top: 30px;
    }

    .market-about-us .third-row {
        margin-top: 30px;
    }

    .market-about-us .second-row h1 {
        font-size: 25px;
    }

    .market-about-us .third-row p {
        font-size: 14px;
    }

    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 5px;
    }

    .market-about-us .third-row .images-sec {
        margin-top: 90px;
    }

    .market-about-us .third-row .images-sec .position-img {
        width: 70%;
    }

    /* about us section end */

    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text {
        padding: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h6 {
        font-size: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h5 {
        font-size: 15px;
    }


    /* casse study section end */

    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button {
        font-size: 22px;
        padding: 11px 15px;
    }

    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }

    .market-digital-marketing .video-sec .btn {
        width: 100px;
        height: 100px;
        font-size: 12px;
    }

    /* digital marketing section end */


    /* video content section start */

    .market-video-content .owl-carousel .owl-item {
        margin-top: 20px;
    }

    /* video content section end */


    /* call our team section start */

    .team-call-sec .left-section-bg{
        height: 220px;
    }


    /* call our team section end */

    /* subscribe partner section start */

    .market-subscribe-partner .subscribe-sec .subscribe-text {
        width: 70%;
    }

    .market-subscribe-partner .subscribe-sec .subscribe-text .subscribe-input {
        padding: 0.375rem 0.75rem;
    }

    .market-subscribe-partner .subscribe-sec .subscribe-text .connect-btn {
        font-size: 12px;
        top: 3px;
    }

    /* subscribe partner section end */

    /*  best service section start */

    .best-service-sec .carosal-text p,
    .top-marketing-sec .carosal-text p {
        font-size: 16px;
    }

    .top-marketing-sec .carosal-text,
    .best-service-sec .carosal-text {
        width: 82%;
    }

    /*  best service section end */


    /* faq section start */


    .faq-sec .accordion .accordion-button{
        font-size: 18px;
    }

    /* faq section end */ 
    
}

@media (min-width: 578px) AND (max-width:768px) {
    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text {
        width: 85%;
        padding: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h6 {
        font-size: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h5 {
        font-size: 15px;
    }


    /* casse study section end */


}

@media (min-width:769px) AND (max-width:990px) {

    /* top-header start */


    .top-header .right-text-sec {
        padding: 10px 20px;
    }

    .top-header .right-text-sec h1 {
        font-size: 25px;
    }

    .top-header .right-text-sec h3 {
        font-size: 18px;
    }

    .top-header .right-text-sec p {
        font-size: 13px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 10px;
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 40px;
        top: -50px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 40px;
        right: -60px;
    }

    /* top-header start */


    /* about us section start */

    .market-about-us .second-row h1 {
        font-size: 30px;
    }

    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 3px;
    }

    .market-about-us .third-row .images-sec .position-img {
        width: 50%;
    }

    /* about us section end */


    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text {
        width: 90%;
        padding: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h6 {
        font-size: 12px;
    }

    .market-case-study .cards-row .case-card .case-card-text h5 {
        font-size: 15px;
    }


    /* casse study section end */


    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button {
        font-size: 22px;
        padding: 11px 15px;
    }

    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */

    /* our packages section start */

    .our-packages-sec .packages-table-outer .table .bg,
    .our-packages-sec .packages-table-outer .book-call-btn {
        font-size: 22px;
    }

    .our-packages-sec .packages-table-outer tbody td,
    .our-packages-sec .packages-table-outer .head-table-two td {
        font-size: 18px;
    }

    /* our packages section end */

    /* call our team section start */

    .team-call-sec .left-section-bg{
        height: 220px;
    }


    /* call our team section end */


    /* latest news section start */

    .latest-news-sec .news-card .card-body{
        padding: 15px;
    }
    .latest-news-sec .news-card .card-body h3{
        font-size: 18px;
    }
    .latest-news-sec .news-card .card-body p{
        font-size: 14px;
    }

    /* latest news section end */


    /* meet our team page start start */



    /* meet the team section start */

    .meet-the-team .counting-row .counting-card {
        height: 195px;
    }
    .meet-the-team .counting-row .counting-card h1{
        font-size: 60px;
    }
    .meet-the-team .counting-row .counting-card .global-p{
        font-size: 14px;
    }

    /* meet the team section end */



    /* meet our team page start end */


    /* social media pages start */

    .social-media-market .front-text-box h3{
        font-size: 18px;
    }

    /* social media paged end */

}

@media (min-width:991px) AND (max-width:1200px) {
    /* navbar start */

    .navbar .navbar-collapse .navbar-nav .nav-item {
        margin-right: 10px;
    }

    /* navbar end */

    /* top-header start */

    .top-header .right-text-sec {
        padding: 25px;
    }

    .top-header .right-text-sec h1 {
        font-size: 30px;
    }

    .top-header .right-text-sec h3 {
        font-size: 25px;
    }

    .top-header .right-text-sec .buttons {
        margin-top: 25px;
    }

    .top-header .right-text-sec .top-right-text {
        font-size: 50px;
        top: -60px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 50px;
        right: -70px;
    }

    /* top-header end */

    /* about us section start */

    .market-about-us .second-row h1 {
        font-size: 30px;
    }

    .market-about-us .third-row .circle-img {
        width: 30px;
        margin-top: 3px;
    }

    /* about us section end */


    /* casse study section start */


    .market-case-study .cards-row .case-card .case-card-text h5 {
        font-size: 16px;
    }

    .market-case-study .cards-row .case-card .case-card-text h6 {
        font-size: 13px;
    }

    /* case study section end */

    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button {
        font-size: 22px;
        padding: 11px 15px;
    }

    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */


    /* greate team section start */


    .market-great-team .cards-row .card-footer h6 {
        font-size: 18px;
    }

    .market-great-team .cards-row .card-footer p {
        font-size: 15px;
    }


    /* greate team section end */


    /* footer start */

    .footer-sec .footer-sub-heading{
        font-size: 20px;
    }
    .footer-sec .footer-ul li a{
        font-size: 15px;
    }

    /* footer end */

    /* blogs page start */
    .blogs-page .blog-card-body h3 {
        font-size: 21px;
    }
    .blogs-page .blog-card-body p{
        font-size: 16px;
    }

    .blogs-page .blog-card-body {
        height: 360px;
    }

    /* blogs page end */

     /* social media pages start */

     .social-media-market .front-text-box h3{
        font-size: 18px;
    }

    /* social media paged end */
}

@media (min-width:1201px) AND (max-width:1400px) {
    /* top-header start */

    .top-header .right-text-sec {
        padding: 35px;
    }

    .top-header .right-text-sec h1 {
        font-size: 45px;
    }

    .top-header .right-text-sec .top-right-text {
        top: -75px;
        font-size: 55px;
    }

    .top-header .right-text-sec .bottom-right-text {
        font-size: 55px;
        right: -85px;
    }

    /* top-header end */


    /* about us section start */

    .market-about-us .second-row h1 {
        font-size: 45px;
    }

    .market-about-us .third-row .circle-img {
        width: 35px;
    }

    /* about us section end */


    /* digital marketing section start */


    .market-digital-marketing .accordion .accordion-button {
        font-size: 24px;
        padding: 10px 15px;
    }

    .market-digital-marketing .accordion .accordion-body p {
        font-size: 15px;
    }


    /* digital marketing section end */
}